@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
margin: 0;
border: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F1F1F1;
}

header {
    padding: 30px;
    background-color: rgb(126, 125, 128);
}

/* ================== HEDER ================== */
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar ul {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.navbar ul li {
    display: inline;
    list-style: none;
    text-align: center;
}

.navbar ul li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: regular;
    color: white;
    
    margin: 0 30px;

    text-transform: uppercase;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: greenyellow;
}

/* ================== MAIN ================== */

.content {
    background-color: aquamarine;
    text-align: center;
    padding: 32px;
}

.image img {
    border: 2px solid lawngreen;
    border-radius: 50%;
    margin-top: ;
    margin: 32px auto;
}

.content h1 {
    color: rgb(147, 19, 197);
}